* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    box-sizing: border-box;
}

body {
    background-image:url(images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    width: 90%;
    max-width: 500px;
    background: linear-gradient(45deg, Aqua, DeepSkyBlue);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 60px 35px;
    text-align: center;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city {
    border: 0;
    outline: 0;
    background: AliceBlue;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 35px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}

.search {
   border: 0;
   width: 60px;
   height: 60px;
   cursor: pointer;
}

.weather {
    width: 200px;
    margin-top: 30px;
}

.temperature {
    font-size: 75px;
    font-weight: 500;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    margin-top: 10px;
}

.city-name {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
}

.flex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 5px;
}

.detail {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 20px;
}

.humidity {
    width: 50px;
    padding-right: 5px;
}

.wind {
    width: 50px;
    padding-right: 5px;
}

.weather-info {
    display: none;
}